body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url("https://source.unsplash.com/2160x1440/?landscape");
    background-repeat: no-repeat;
    -webkit-background-cover: cover;
    -moz-background-cover: cover;
    -o-background-cover: cover;
    background-size: cover;

}

input:invalid {
    border: 3px solid red;
}

input:valid {
    border: 3px solid green;
}

.card {
    background-color: rgba(145, 145, 145, 0.527);
    border-radius: 25px;
    width: 90%;
    height: 75%;
    margin-top: 5%;
}

.appTitle,
.cityDisplay,
.kelvin,
.fahrenheit,
.celsius,
.conditions {
    color: white;
}

.modalError {
    display: none;
    position: fixed;
    left: 50%;
    top: 22.5%;
    transform: translate(-50%, 50%);
    z-index: 1;
    margin: 15 auto;
    padding: 25px;
    width: 25%;
    background-color: #eeeeee;
    text-align: left;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(124, 4, 4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}

.modalMessage {
    margin: 0px auto;
    padding: 2px;
    width: 5%;

}

.modal-body {
    background-color: rgba(128, 128, 128, 0.573);
}